<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediochat Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.min.css">
    <link rel="stylesheet" href="css/dashboard.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
	<script src="/js/dashboard.js" defer></script>
</head>

<body>
    <div><nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background-color: rgb(233,233,233)">
    <div class="container">
        <a href="/dashboard" class="navbar-brand"><img class="img-fluid" width="200px" src="img/logo.png"></a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li role="presentation" class="nav-item"><a href="/dashboard" class="nav-link active" style="color: rgb(5,90,218)">Dashboard</a></li>
                <li role="presentation" class="nav-item"><a href="/account" class="nav-link" style="color: rgb(5,90,218)">My Account</a></li>
                <li role="presentation" class="nav-item"><a href="/logout" class="nav-link" style="color: rgb(5,90,218)">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
</div>
    <div style="margin:20px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron" style="padding-bottom:40px;padding-top:40px;background-color:rgb(255,255,255);">
                        <p class="text-center" style="color:rgb(0,0,0);font-size:21px;margin-bottom:20px;">Create a video call room and provide your patients with the access code shown on screen.</p>
                        <p class="text-center" style="margin-right:25px;margin-left:25px;">

                            <a class="btn btn-primary d-block .newsletter-subscribe form .btn" 
                                role="button" href="#" data-toggle="modal" data-target="#createCallModal" 
                                style="padding: 10px;">START CALL</a>
                        </p>
                    </div>
                </div>
            </div>
    </div>

    <div>
        <div class="container">
            <% if (errorFlash != "") { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" 
                style="margin: 0 auto; margin-bottom: 30px; width: 80%; text-align: center">
                <%= errorFlash %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %>

            <!-- Today's Calls -->
            <div class="row">
                <div class="col-md-12">
                        <div id="todaysCallSection"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Upcoming Calls -->
    <div  style="margin-top: 30px; margin-bottom: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="upcomingCallSection"></div>
                    <button id="viewCallHistoryButton" type="button" class="btn btn-primary btn-block btn-sm" 
                    style="margin-top:20px;">View Call History</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createCallModal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Call Setup</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <form class="form-inline" action="/create-call" method="post" style="padding-bottom:4px;">
                    <div class="modal-body">
                        <div class="form-group" style="padding-bottom:10px;">
                            <label style="padding-right:27px;">Patient's Mobile Number:</label>
                            <input class="form-control" type="tel" name="mobile" placeholder="Their mobile number">
                        </div>
                        <div class="form-group" style="padding-bottom:10px;">
                            <label style="padding-right:42px;">Patient's Email:</label>
                            <input class="form-control" type="email" name="email" placeholder="Their email">
                        </div>
                        <div class="form-group" style="padding-bottom:10px;">
                            <label style="padding-right:42px;">Start Now?</label>
                            <input id="startCheckbox" class="form-control" type="checkbox" name="startNow" checked>
                        </div>


                        <div id="scheduleTimeInput"  style="display: none">
                            <div class="form-group" style="padding-bottom:10px">
                                <label style="padding-right:42px;">Call Date:</label>
                                <input class="form-control" type="date" name="startDate">
                            </div>

                            <div class="form-group" style="padding-bottom:10px">
                                <label style="padding-right:42px;">Call Time:</label>
                                <input class="form-control" type="time" name="startTime">
                            </div>
                        </div>
                        
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input id="tzOffset" type="hidden" name="tzOffset">
                    </div>
                    <div class="modal-footer">
                        <button id="startCallButton" class="btn btn-primary" type="submit">Start Call</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="callHistoryModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="callHistoryModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="callHistoryModalContent">
                <div class="modal-header">
                    <h4 class="modal-title">Call History</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body" id="callHistoryModalBody">
                    <table id="callHistoryTable" class="table table-bordered">
                        <thead>
                          <tr>
                            <th data-field="callID">Call ID</th>
                            <th data-field="date">Date</th>
                            <th data-field="time">Time</th>
                          </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        const DOCTOR_ID = "<%= doctorID %>"
    </script>

    <!-- BUILD TABLES SCRIPT -->
    <script>
        const upcomingCalls = <%-JSON.stringify(upcomingCalls)%>
        const todaysCalls = <%-JSON.stringify(todaysCalls)%>

        // UPCOMING CALLS
        const upcomingSection = $("#upcomingCallSection")
        if (upcomingCalls.length > 0) {
            var htmlString = ""
            htmlString += (`<h4 class="text-center" style="margin-bottom: 15px;">Upcoming Calls</h4>`)
            htmlString += (`<table class="table table-striped table-bordered table-sm">`)
            htmlString += (`<thead>
                                <tr>
                                    <th class="table-info">Call ID</th>
                                    <th class="table-info">Date</th>
                                    <th class="table-info">Time</th>
                                </tr>
                            </thead>`)

            htmlString += (`<tbody>`)
            for (let call of upcomingCalls) {
                const callDate = new Date(call.startsAt)
                htmlString += `<tr>
                                    <td>${call.roomCode}</td>
                                    <td>${callDate.toLocaleString('en-GB', { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' })}</td>
                                    <td>${callDate.toLocaleTimeString()}</td>
                                </tr>`
            }
            htmlString += (`</tbody>`)
            htmlString += (`</table>`)
            upcomingSection.append(htmlString)
        } else {
            upcomingSection.append(`<h5 class="text-center">You haven't got any upcoming scheduled calls.</h5>`)
        }

        // TODAYS CALLS
        const todaySection = $("#todaysCallSection")
        if (todaysCalls.length > 0) {
            var htmlString = ""
            htmlString += (`<div id="todaysCallsTableDiv">
                                <h4 class="text-center" style="margin-bottom: 15px;">Today's Scheduled Calls</h4>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="table-info">Call ID</th>
                                            <th class="table-info">Scheduled Time</th>
                                            <th class="table-info">Time Left</th>
                                            <th class="table-info">Start Call</th>
                                            <th class="table-info">Delete Call</th>
                                        </tr>
                                    </thead>`)

            htmlString += `<tbody id="todaysCallsTableBody">`
            for (let call of todaysCalls) {
                const callDate = new Date(call.startsAt)
                callDate.setTime(callDate.getTime() - callDate.getTimezoneOffset() * 60 * 1000)
                htmlString += `<tr>
                                    <td>${call.roomCode}</td>
                                    <td>${callDate.toLocaleTimeString()}</td>
                                    <td data-finished="${call.finished}" data-callTime="${callDate.toJSON()}"></td>
                                    <td><a class="btn btn-info btn-block btn-sm" role="button" 
                                        href="/start-call/${call.roomCode}">Start Now</a>
                                    </td>
                                    <td>
                                        <button id="cancelButton-${call.roomCode}" 
                                            class="btn btn-danger btn-block btn-sm cancelButton" role="button">Cancel Call</button>
                                    </td>
                                </tr>`
            }
            htmlString += `</tbody></table>`

            htmlString += `<div style="margin-top: 10px;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="hideFinishedCheck">
                                    <label class="custom-control-label" for="hideFinishedCheck">Hide finished calls?</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="flashingCheck">
                                    <label class="custom-control-label" for="flashingCheck">Don't flash calls?</label>
                                </div>
                            </div>`
            htmlString += `<script src="/js/dashboard-time.js"><\/script>`
            htmlString += `</div>`
            todaySection.append(htmlString)
        } else {
            todaySection.append(`<h5 class="text-center" style="margin-bottom: 20px;">You haven't got any scheduled calls today.</h5>`)
        }

    </script>

</body>

</html>