<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediochat Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.min.css">
    <link rel="stylesheet" href="css/dashboard.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div><nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background-color: rgb(233,233,233)">
    <div class="container">
        <a href="/dashboard" class="navbar-brand"><img class="img-fluid" width="200px" src="img/logo.png"></a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li role="presentation" class="nav-item"><a href="/dashboard" class="nav-link active" style="color: rgb(5,90,218)">Dashboard</a></li>
                <li role="presentation" class="nav-item"><a href="/account" class="nav-link" style="color: rgb(5,90,218)">My Account</a></li>
                <li role="presentation" class="nav-item"><a href="/logout" class="nav-link" style="color: rgb(5,90,218)">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
</div>
    <div style="margin:20px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron" style="padding-bottom:40px;padding-top:40px;background-color:rgb(255,255,255);">
                        <p class="text-center" style="color:rgb(0,0,0);font-size:21px;margin-bottom:20px;">Create a video call room and provide your patients with the access code shown on screen.</p>
                        <p class="text-center" style="margin-right:25px;margin-left:25px;">

                            <a class="btn btn-primary d-block .newsletter-subscribe form .btn" 
                                role="button" href="#" data-toggle="modal" data-target="#createCallModal" 
                                style="padding: 10px;">START CALL</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-6" style="margin-top:0px;">
                    <h4 class="text-center" style="margin-bottom:15px;">Call History</h4>
                    <% if (callHistory.length > 0) { %>
                        <div class="datagrid">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Call ID</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let call of callHistory){ %>
                                        <tr>
                                            <td><%= call.roomCode %></td>
                                            <td><%= call.startsAt.toLocaleString('en-GB', { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) %></td>
                                            <td><%= call.startsAt.toLocaleTimeString() %></td>
                                            <td><a href="#">View Details</a></td>
                                        </tr>
                                    <%}%>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <div class="paging">
                                                <ul>
                                                    <li><a href="#"> <span>Previous </span></a></li>
                                                    <li><a href="#" class="active"> <span>1 </span></a></li>
                                                    <li><a href="#"> <span>2 </span></a></li>
                                                    <li><a href="#"> <span>3</span></a></li>
                                                    <li><a href="#"> <span>Next </span></a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    <%} else {%>
                        <h5 class="text-center">You haven't made any calls yet.</h5>
                    <%}%>

                </div>
                <div class="col-md-6" style="margin-top:0px;">
                    <h4 class="text-center" style="margin-bottom:15px;">Upcoming Calls</h4>
                    <% if (upcomingCalls.length > 0) { %>
                        <div class="datagrid">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Call ID</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Time Remaining</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let call of upcomingCalls){ %>
                                        <% const timeLeft = call.startsAt - Date.parse(new Date()); %>
                                        <% const seconds = Math.floor( (timeLeft/1000) % 60 );
                                           const minutes = Math.floor( (timeLeft/1000/60) % 60 );
                                           const hours = Math.floor( (timeLeft/(1000*60*60)) % 24 );
                                           const days = Math.floor( timeLeft/(1000*60*60*24) ); 
                                        %>
                                        <tr>
                                            <td><%= call.roomCode %></td>
                                            <td><%= call.startsAt.toLocaleString('en-GB', { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) %></td>
                                            <td><%= call.startsAt.toLocaleTimeString() %></td>
                                            <td><%= days != 0 ? days + ' days,' : '' %> <%= hours != 0 ? hours + ' hrs,' : '' %> <%= minutes != 0 ? minutes + ' mins' : '' %></td>
                                        </tr>
                                    <%}%>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <div class="paging">
                                                <ul>
                                                    <li><a href="#"> <span>Previous </span></a></li>
                                                    <li><a href="#" class="active"> <span>1 </span></a></li>
                                                    <li><a href="#"> <span>2 </span></a></li>
                                                    <li><a href="#"> <span>3</span></a></li>
                                                    <li><a href="#"> <span>Next </span></a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    <%} else {%>
                        <h5 class="text-center">You haven't got any scheduled calls.</h5>
                    <%}%>
                </div>
            </div>
        </div> -->
    </div>

    <!-- Today's Calls -->
    <div>
        <div class="container">
            <% if (errorFlash != "") { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" 
                style="margin: 0 auto; margin-bottom: 30px; width: 80%; text-align: center">
                <%= errorFlash %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %>
            <div class="row">
                <div class="col-md-12">
                    <% if (todaysCalls.length > 0) { %>
                        <h4 class="text-center" style="margin-bottom: 15px;">Today's Scheduled Calls</h4>
                        <div class="table-responsive table-bordered">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="table-info">Call ID</th>
                                        <th class="table-info">Scheduled Time</th>
                                        <th class="table-info">Time Left</th>
                                        <th class="table-info">Start Call</th>
                                    </tr>
                                </thead>
                                <tbody id="todaysCallsTableBody">
                                    <% for (let call of todaysCalls){ %>
                                        <tr>
                                            <td><%= call.roomCode %></td>
                                            <td><%= call.startsAt.toLocaleTimeString() %></td>
                                            <td data-finished="<%= call.finished %>" data-callTime="<%= call.startsAt %>"></td>
                                            <td><a class="btn btn-info btn-block btn-sm" role="button" 
                                                href="/start-call/<%= call.roomCode %>">Start Now</a>
                                            </td>
                                        </tr>
                                    <%}%>
                                </tbody>
                            </table>
                        </div>

                        

                        <div style="margin-top: 10px;">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="hideFinishedCheck">
                                <label class="custom-control-label" for="hideFinishedCheck">Hide finished calls?</label>
                            </div>

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="flashingCheck">
                                <label class="custom-control-label" for="flashingCheck">Don't flash calls?</label>
                            </div>
                        </div>

                        <script>

                            // only takes effect during the refresh period... need to fix somehow
                            var shouldHideFinishedCalls = false // store these settings is cookies?
                            var shouldNotFlashCalls = false

                            $('#hideFinishedCheck').on('change', evt => {
                                if ($(evt.target).is(':checked')) {
                                    shouldHideFinishedCalls = true
                                } else {
                                    shouldHideFinishedCalls = false
                                }
                            })

                            $('#flashingCheck').on('change', evt => {
                                if ($(evt.target).is(':checked')) {
                                    shouldNotFlashCalls = true
                                } else {
                                    shouldNotFlashCalls = false
                                }
                            })
                            
                            function updateTimeLeft() {
                                $("#todaysCallsTableBody").find('tr').each(function (i, el) {
                                    const timeCell = $(this).find('td').eq(2)[0]
                                    const callTime = Date.parse(timeCell.getAttribute('data-callTime'))
                                    const isFinished = timeCell.getAttribute('data-finished') == 'true'                                        
                                
                                    const timeLeft = callTime - Date.parse(new Date());
                                    if (timeLeft < 0) {
                                        if (!isFinished) {  // passed time but not finished

                                            // Over time threshold message: show between 2 and 10 mins overtime
                                            var secondsAgo = -timeLeft / 1000
                                            var minsAgo = Math.floor(secondsAgo / 60);
                                            var isLate = false

                                            const MIN_THRESHOLD = 2 * 60
                                            const MAX_THRESHOLD = 10 * 60
                                            if (secondsAgo >= MIN_THRESHOLD && secondsAgo <= MAX_THRESHOLD) {
                                                timeCell.innerHTML = "<b>Scheduled for " + minsAgo.toString() + "m " + (secondsAgo - minsAgo * 60).toString() + "s ago" + "</b>"
                                            } else if (secondsAgo > MAX_THRESHOLD) { // over 10 mins
                                                isLate = true
                                                timeCell.innerHTML = "<b>You are late to this call (by " + minsAgo + " mins)" + "</b>"
                                            } else { // if under 2 mins, still 'starting now'
                                                timeCell.innerHTML = "<b>Starting now</b>"
                                            }

                                            if (!shouldNotFlashCalls) {
                                                if (isLate) {
                                                    $(this).addClass('late')
                                                } else {
                                                    $(this).addClass('startingSoon')
                                                }
                                            } else {
                                                $(this).removeClass('startingSoon')
                                                $(this).removeClass('late')
                                            }
                                            return

                                        } else {    // passed time and already finished
                                            if (shouldHideFinishedCalls) {
                                                $(this).hide()
                                            } else {
                                                $(this).show()
                                                $(this).addClass('finished') // grey out the row
                                                $(this).find('td').eq(3).first('a').html("") // remove link
                                                timeCell.innerHTML = "This call has already finished"
                                            }
                                            return
                                        }
                                    }

                                    // time remaining unit calculations
                                    const seconds = Math.floor( (timeLeft/1000) % 60 );
                                    const minutes = Math.floor( (timeLeft/1000/60) % 60 );
                                    const hours = Math.floor( (timeLeft/(1000*60*60)) % 24 );
                                    const timeText = (hours != 0 ? hours + ' hrs' : '') + ' ' + (minutes != 0 ? minutes + ' mins' : '')
                                    
                                    // if less than 1 min remaining
                                    if (timeText == ' ') {
                                        if (!shouldNotFlashCalls) {
                                            $(this).addClass('startingSoon')
                                        } else {
                                            $(this).removeClass('startingSoon')
                                        }
                                        timeCell.innerHTML = "<b>Starting now</b>"
                                        return
                                    }                                       
                                    timeCell.innerHTML = timeText + " left"
                                })
                            }

                            window.addEventListener("DOMContentLoaded", updateTimeLeft)
                            setInterval(updateTimeLeft, 1000 * 1)   // revert to 30s once checkboxes work independently
                        </script>
                    <%} else {%>
                        <h5 class="text-center" style="margin-bottom: 20px;">You haven't got any scheduled calls today.</h5>
                    <%}%>
                </div>
            </div>
        </div>
    </div>

    <!-- Upcoming Calls -->
    <div  style="margin-top: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <% if (upcomingCalls.length > 0) { %>
                        <h4 class="text-center" style="margin-bottom: 15px;">Upcoming Calls</h4>
                        <div class="table-responsive table-bordered">
                            <table class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th class="table-info">Call ID</th>
                                        <th class="table-info">Date</th>
                                        <th class="table-info">Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let call of upcomingCalls){ %>
                                        <tr>
                                            <td><%= call.roomCode %></td>
                                            <td><%= call.startsAt.toLocaleString('en-GB', { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) %></td>
                                            <td><%= call.startsAt.toLocaleTimeString() %></td>
                                        </tr>
                                    <%}%>
                                </tbody>
                            </table>
                        </div>
                    <%} else {%>
                        <h5 class="text-center">You haven't got any upcoming scheduled calls.</h5>
                    <%}%>
                    <a class="btn btn-primary btn-block btn-sm" role="button" 
                    href="#" style="margin-top:20px;">View Call History</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createCallModal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Call Setup</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <form class="form-inline" action="/create-call" method="post" style="padding-bottom:4px;">
                    <div class="modal-body">
                        <div class="form-group" style="padding-bottom:10px;">
                            <label style="padding-right:27px;">Patient's Mobile Number:</label>
                            <input class="form-control" type="tel" name="mobile" placeholder="Their mobile number">
                        </div>
                        <div class="form-group" style="padding-bottom:10px;">
                            <label style="padding-right:42px;">Patient's Email:</label>
                            <input class="form-control" type="email" name="email" placeholder="Their email">
                        </div>
                        <div class="form-group" style="padding-bottom:10px;">
                            <label style="padding-right:42px;">Start Now?</label>
                            <input id="startCheckbox" class="form-control" type="checkbox" name="startNow" checked>
                        </div>

                        <div id="scheduleTimeInput" class="form-group" style="padding-bottom:10px; display: none">
                            <label style="padding-right:42px;">Schedule Call Time:</label>
                            <input id="dateTimeInput" class="form-control" type="datetime-local" name="startTime">
                        </div>
                        
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </div>
                    <div class="modal-footer">
                        <button id="startCallButton" class="btn btn-primary" type="submit">Start Call</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="js/dashboard.min.js"></script>

    <script>
        $(document).ready(function() {
            const dateString = new Date().toISOString()
            $("#dateTimeInput").attr("min", dateString.substring(0, dateString.length - 8))
        })

        $("#startCheckbox").click(function() {
            if ($(this).prop("checked")) {
                $("#scheduleTimeInput").hide()
                $("#startCallButton").html('Start Call')
            } else {
                $("#scheduleTimeInput").show()
                $("#startCallButton").html('Schedule Call')
            }
        })
    </script>

</body>

</html>